.card1{
    border: 3px solid #adc178;
    background-color: #fddbbb;
    width: 380px;
    min-height: 370px;
    padding: 20px 40px 40px 40px;
    margin-top: 20px;
}
.borderblue{
    border: 3px solid #429EA6;
}
.borderpink{
    border: 3px solid #ff7b72;
}
.generatebtn{
    cursor: pointer;
    background-color: #adc178;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
}

@media screen and (max-width: 480px){
    .card1{
        width: 270px;
        padding: 20px;
    }
}