.card1{
    border: 3px solid #eb5e28;
    background-color: #e9c46a;
    width: 500px;
    min-height: 370px;
    padding: 20px 40px 40px 40px;
    margin-top: 20px;
}
.borderblue{
    border: 3px solid #1a759f;
}
.borderpink{
    border: 3px solid #ff4d6d;
}
.generatebtn{
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
}

@media screen and (max-width: 480px){
    .card1{
        width: 270px;
        padding: 20px;
    }
}